/Tensorflow study/ModoML 커리큘럼.xlsx
/Python 연습문제 study/.idea
Tensorflow study/Lecture01/Lab01-TensorFlow Basics.pptx
Tensorflow study/Lecture02/Lab02-Linear Regression.pptx
Tensorflow study/Lecture03/
Tensorflow study/Lecture04/Lab04-Multi-variable linear regression.pptx
Tensorflow study/Lecture04/Lec04-Multivariable linear regression.pptx
Tensorflow study/Lecture04/tensorflow lecture 4/
Tensorflow study/Lecture05 Logistic regression/Lab05-Logistic (regression) classifier.pptx
Tensorflow study/Lecture05 Logistic regression/lec5.pdf
Tensorflow study/Lecture06 Softmax classifier/Lab06-Softmax classifier.pptx
Tensorflow study/Lecture06 Softmax classifier/data-04-zoo.csv
Tensorflow study/Lecture06 Softmax classifier/lec6.pdf
Tensorflow study/Lecture07-Learning rate, Evaluation, MNIST/Lab07-Learning rate, Evaluation, MNIST.pptx
Tensorflow study/Lecture07-Learning rate, Evaluation, MNIST/MNIST_data/
Tensorflow study/Lecture08-Tensor Manipulation/
Tensorflow study/Lecture09-NN for XOR, TensorBoard, BackProp/
Tensorflow study/PyCharmProject/

